# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual env
venv/
env/
virt/

# Environment variables
.env

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Uploaded data (IMPORTANT)
data/uploads/

# Logs
*.log

# IDE
.vscode/
.idea/